body {
    background-image: url("../img/Abstract Gradient Shadow Lines Background Gold Grey.jpg"); 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    margin-bottom: -52px;
}